<div class="container">
  <mat-card class="example-card" appearance="outlined" *ngFor="let movie of movies">
    <mat-card-header>
      <div class="Rating">{{movie.averageRating}}</div>
      <mat-card-title>{{movie.name}}</mat-card-title>
      <mat-card-subtitle>{{movie.duration}}</mat-card-subtitle>
      <span class="movie-genre">{{ movie.genre }}</span>
    </mat-card-header>
    <img mat-card-image [src]="movie.poster" alt="{{movie.name}}">
    <mat-card-content>
      <p>
       {{movie.description}}
      </p>
      <mat-list role="list">
        <mat-list-item role="listitem">Director: {{movie.director}}</mat-list-item>
        <mat-list-item role="listitem">Actors: {{movie.actors}}</mat-list-item>
        <mat-list-item role="listitem">Release date: {{movie.releaseDate}}</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/movie/', movie.id]">
        <i class="fa-solid fa-circle-info"></i> Details
      </a>
      
      <a mat-button>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        Reserve
      </a>
    </mat-card-actions>
  </mat-card>
</div>